html,
body {
  margin: 0;
  padding: 0;
  background-color: yellow;
  font-size: 36pt;
  font-family: 'ZCOOL KuaiLe', sans-serif;
}

*{
  box-sizing: border-box;
}

.countdown-container{
  width: 100vw;
  padding: 36pt;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#button-container{
  width: 100%;
  display: none;
  justify-content: center;
}

#button-container a{
  padding: 0 18pt;
  border-radius: 100%;
  background-color: black;
  text-decoration: none;
  filter: drop-shadow(0 0 2px black);
}

#button-container a:hover{
  transform: scale(0.95);
  filter: drop-shadow(0 0 0 black);
}

.form{
  text-decoration: none;
  color: yellow;
  padding: 12pt;
  background-color: black;
  border-radius: 100%;
  filter: drop-shadow(0 0 2px black);
}

.form:hover{
  transform: scale(0.95);
  filter: drop-shadow(0 0 0 black);
}

button{
  display: none;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 18pt;
  }

.form{
  padding: 6pt;
}

}
