html,
body {
  margin: 0;
  padding: 0;
  background-color: yellow;
}

*{
  box-sizing: border-box;
}

.vanillajs-table{
  width: 100vw;
  /* padding:50px; */
  /* border: 5px solid green; */
}

/* timestamp header */
.vanillajs-table-header{
  display: none;
}

/* prompt */
.prompt{
  width: 100vw;
  height: 100vh;
  font-size: 36pt;
  padding: 72pt;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.prompt a{
  padding: 18pt;
  background-color: black;
  text-decoration: none;
  border-radius: 100%;
  filter: drop-shadow(0 0 2px black);
}

.prompt a:hover{
  filter: drop-shadow(0 0 0 black);
}

.vanillajs-table-data tr{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 24pt;
}

.vanillajs-table-data tr td:first-of-type{
  width: 100%;
  padding: 4pt;
  border-radius: 4pt;
  font-size: 18pt;
}

.vanillajs-table-data tr td:last-of-type{
  width: 100%;
  font-size: 36pt;
  padding: 0pt 72pt;
  line-height: 1;
}
