html,
body {
  margin: 0;
  background-color: yellow;
  font-family: 'ZCOOL KuaiLe', sans-serif;
}

*{
  box-sizing: border-box;
}

/* link to form */
#link-container{
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-top: 12pt;
}

#link-container a{
  padding: 9pt 18pt;
  font-size: 36pt;
  border-radius: 100%;
  background-color: black;
  text-decoration: none;
  filter: drop-shadow(0 0 2px black);
  display: inline-block;
}

#link-container a:hover{
  transform: scale(0.95);
  filter: drop-shadow(0 0 0 black);
}

.vanillajs-table{
  width: 100vw;
}

/* timestamp */
.vanillajs-table-header td:first-of-type{
  display: none;
}

/* prompt header */
.vanillajs-table-header td:last-of-type{
  font-size: 18pt;
  padding: 9pt 72pt;
  text-align: center;
  width: 100vw;
  border-bottom: 3px dotted black;
  /* background-color: red; */
}

.vanillajs-table-data tr{
  padding-bottom: 24pt;
  width: 100vw;
}

.vanillajs-table-data tr td:first-of-type{
  display: block;
  text-align: center;
  padding: 9pt;
  font-size: 18pt;
  font-family: sans-serif;
}

.vanillajs-table-data tr td:last-of-type{
  font-size: 36pt;
  padding: 36pt 72pt;
  border: 1px solid black;
  border-radius: 100%;
  line-height: 1.2;
  display: block;
  text-align: center;
  /* background-color: lightskyblue; */
}